# Spring
SPRING_PROFILES_ACTIVE=

# Postgres
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Security
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_TOKEN_TTL=

SECURITY_USER_NAME=
SECURITY_USER_PASSWORD=